.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #282828;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Login/logout button */
button {
  padding: 8px 16px;
  margin: 10px;
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #168f3f;
}

/* Search bar styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type='text']:focus {
  outline: none;
  border-color: #1DB954;
}

/* Artist styles */
div.artist-container {
  margin-bottom: 30px;
}

img.artist-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

ul.track-list {
  list-style: none;
  padding: 0;
}

li.track-item {
  margin-bottom: 15px;
}

button.play-button {
  padding: 6px 12px;
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.play-button:hover {
  background-color: #168f3f;
}

/* Add this to your CSS file */

/* Track list styles */
ul.track-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li.track-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #333;
  flex: 0 0 calc(50% - 20px);
  transition: background-color 0.3s;
}

li.track-item:last-child {
  border-bottom: none;
}

img.track-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.track-info {
  flex: 1;
}

.track-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.play-icon {
  display: none;
  margin-left: auto;
  cursor: pointer;
}

.track-item:hover {
  background-color: #333;
}

.track-item:hover .play-icon {
  display: block;
  color: #fff;
  font-size: 24px;
}

.track-grid .track-list {
  flex-wrap: nowrap;
}

.track-grid li.track-item {
  flex: 0 0 auto;
  width: 200px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: none;
}

.track-grid img.track-image {
  margin-bottom: 10px;
}

header{
  border-radius: 50px;
}
